@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #121824, #1c1f2a, #121824);
  color: #ffffff;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

h1, h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}
